
<!-- Modal -->
<div class="modal fade" id="search_friends_modal" tabindex="-1" role="dialog" aria-labelledby="search_friends_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="search_friends_modal">Search for friends</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" placeholder="Search ... " id="search_users_field">
            <div class="scrollable available-contacts" id="searched_users">

            </div>
        </div>
        <div class="modal-footer">
            
        </div>
        </div>
    </div>
</div>